.grid-container{ 
    border:1px solid brown;
    background-color: bisque;

    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr; 
}

.grid-item{
    background-color: aqua;
    border:1px solid black;
    padding:10px;
    }


/*
    
.row-span2{
background-color: brown;
}
.column-span2{
background-color: blue;}*/


    